header{
    background-color: rgba(37, 37, 37, 1);
    display: flex;
    flex-wrap: wrap;
}
header h1{
    color: white;
    font-size: 24px;
}
.fimg{
    height: 75px;
    width: 75px;
}
.simg{
    height: 50px;
    width: 160px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 12px;
}
.ot{
    margin-left: 636px;
    margin-top: 10px;
}
.Bl{
    margin-left: 70px;
    margin-top: 10px;
}
.pp{
    text-align: center;
}
.pp h2{
    font-size: 61px;
}
.pp p{
    margin-top: -20px;
    font-size: 152px;
}
.ra{
    text-align: center;
    margin-top: -30px;
}
.at{
    font-size: 45px;
}
.Top{
    font-size: 30px;
    padding-bottom: 40px;
}
.fu{
    margin-left: 9%;
}
.ly{
    margin-left: 20%;
}
.le{
    margin-left: 20%;
}
.cho{
    margin-left: 15%;
}
.ss{
    font-size: 24px;
}
.fs p{
    position: absolute;
    font-size: 62px;
    color: white;
    margin-top: -35%;
    margin-left: 37%;
}
.fs h1{
    position: absolute;
    font-size: 62px;
    color: white ;
    margin-top: -45%;
    margin-left: 22%;
}
footer{
    background-color: black;
    color: white;
}
.firstf{
    display: flex;
    flex-wrap: wrap;
}
.secondf{
    display: flex;
    flex-wrap: wrap;
}
.e{
    margin-left: 45px;
}
.t{
    margin-left: 120px;
}
.bt{
    margin-left: 120px;
}
.a{
    margin-left: 45px;
}
footer img{
    margin-top: 10px;
    margin-left: 4px;
}
.ern{
    margin-left: 160px;
}
.b{
    margin-left: 240px;
}
.card{
    
    text-align: center;
    width: 150px;
    height: 200px;
    border: 1px solid black;
}
.card p{
    margin: 10px;
    border: 0px;
    padding: 0px;
    font-size: 18px;
}
.card:hover{
    box-shadow: 0px 0px 20px 7px rgba(3, 5, 6, 0.17);
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    transform: translateY(2px);
}
.firstline{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.secondline{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.ss h1{
    color: green;
    font-size: 30px;
    margin-left: 50px;
}
.thirdline{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.fourthline{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}